<div class="w-[97.5%] h-full  flex items-start content-start flex-wrap justify-between no-scrollbar" style="overflow: auto; background-image: url(/html/template/weaponbg.png); background-size: 100% 100%;">

    <div class="w-full h-[11%]  flex items-end flex-wrap justify-start">
        <div class="w-[38.5%] h-[60%]  flex items-center justify-end">
            <div class="w-[2%] h-full  mr-[0.1vw]" style="background-color: #D9D9D9;"></div>
            <div class="w-[94%] h-full weaponshowtitle flex justify-center items-center" v-if="this.$store.state.clickedweapondata.info" style="background-color: #D9D9D9;">{{GetSelectedItemData().title}}</div>
        </div>
        <div class="w-[48.5%] h-[60%]  flex items-center justify-start">
                <h2 v-if="this.$store.state.clickedweapondata.info"  class="player-name mt-[0.3vw] ml-[1.5vw]" style="color: rgba(255, 255, 255, 0.50); font-size: 0.7vw;">SERIAL : {{this.$store.state.clickedweapondata.info[0].serial}}</h2>
        </div>
        

    </div>
    <div class="w-full h-[10%]  flex items-end justify-start">
        <h2 style="color: #FFF;
        font-family: Enigmatic;
        font-size: 1.4vw;
        font-style: normal;
        font-weight: 700;
  
        letter-spacing: 0.3vw;" class="ml-[1vw]" v-if="this.$store.state.clickedweapondata.info">{{GetSelectedItemData().itemdata.label}}</h2>
        <div class="w-full h-[35%]  ml-[1.5vw] flex-1 ">
            <div class="w-full h-[10%]  " style="background: linear-gradient(90deg, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0.00) 100%);"></div>
        </div>
    </div>
    <div class="w-full h-[70%] ">
        <div class="w-full h-[60%]  flex items-end justify-center">
            <div class="w-[70%] h-[70%]  flex items-center justify-center">
                <img class="h-[90%] w-full" style="object-fit: contain;" v-if="this.$store.state.clickedweapondata.info" :src="GetSelectedItemData().image" alt="">
            </div>
        </div>
        <div class="w-full h-[40%]  flex items-end justify-between flex-col ">
            <div class="w-[95%] h-[50%] flex items-end justify-end" :class="{'opacitydown' : this.$store.state.selectedweaponattachmenttype == -1}" >
                <div class="w-full h-[62.5%]  flex gap-2">
                    <div v-if="this.$store.state.clickedweapondata.info" class="w-[9.5%] h-full  attachmenindexlist flex justify-center items-center" v-for="(slot,index) in GetTypeCountFromType(GetSelectedItemData(), this.$store.state.selectedweaponattachmenttype)">
                        <img :src="'./itemimages/'+index+'.png'" v-if="PlayerHaveItem(index).bool" @click="this.$store.state.attachmentdataforeject = {name : PlayerHaveItem(index).itemname, label : PlayerHaveItem(index).itemlabel, hash : slot.component}, EjectWeaponAttachment(this.$store.state.attachmentdataforeject, this.$store.state.clickedweapondata, this.$store.state.selectedweaponattachmenttype)">
                        
                    </div>
                </div>
            </div>
            <div class="w-full h-[43%]  flex items-center justify-center " >
                <div  class="w-[23%]  h-full flex ">
                    <div class="w-[40%] h-[70%]  flex" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').bool" >
                        <div class="w-full h-full attachment-action-div cursor-pointer" @click="this.$store.state.selectedweaponattachmenttype = 'muzzle'"></div>
                    </div>
                    <div class="w-[40%] h-[70%]  flex" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').bool">
                        <div class="w-full h-full flex justify-center items-center haveattachment" @click="DetachAttachment(this.$store.state.clickedweapondata, 'muzzle')">
                            <img :src="'./itemimages/'+PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').image+'.png'" class="w-[80%] h-[80%]">
                        </div>
                    </div>
                    <div class="w-[55%] h-[70%]  flex flex-col justify-center gap-[0.2vh]">
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh]" style="font-size: 0.6vw;">Muzzel</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').bool">{{PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').label}}</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'muzzle').bool">-</h2>
                    </div>
                </div>
                <div  class="w-[23%] h-full flex">
                    <div class="w-[40%] h-[70%]  flex" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'scope').bool">
                        <div class="w-full h-full attachment-action-div cursor-pointer" @click="this.$store.state.selectedweaponattachmenttype = 'scope'"></div>
                    </div>
                    <div class="w-[40%] h-[70%]  flex" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'scope').bool">
                        <div class="w-full h-full flex justify-center items-center haveattachment" @click="DetachAttachment(this.$store.state.clickedweapondata, 'scope')">
                            <img :src="'./itemimages/'+PlayerHaveAttachment(GetSelectedItemData(), 'scope').image+'.png'" class="w-[80%] h-[80%]">
                        </div>
                    </div>
                    <div class="w-[55%] h-[70%]  flex flex-col justify-center gap-[0.2vh]">
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh]" style="font-size: 0.6vw;">Scope</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'scope').bool">{{PlayerHaveAttachment(GetSelectedItemData(), 'scope').label}}</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'scope').bool">-</h2>
                    </div>
                </div>
                <div  class="w-[22%] h-full flex">
                    <div class="w-[40%] h-[70%]  flex" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'clip').bool">
                        <div class="w-full h-full attachment-action-div cursor-pointer" @click="this.$store.state.selectedweaponattachmenttype = 'clip'"></div>
                    </div>
                    <div class="w-[40%] h-[70%]  flex" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'clip').bool">
                        <div class="w-full h-full flex justify-center items-center haveattachment" @click="DetachAttachment(this.$store.state.clickedweapondata, 'clip')">
                            <img :src="'./itemimages/'+PlayerHaveAttachment(GetSelectedItemData(), 'clip').image+'.png'" class="w-[80%] h-[80%]">
                        </div>
                    </div>
                    <div class="w-[55%] h-[70%]  flex flex-col justify-center gap-[0.2vh]">
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh]" style="font-size: 0.6vw;">Clip</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'clip').bool">{{PlayerHaveAttachment(GetSelectedItemData(), 'clip').label}}</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'clip').bool">-</h2>
                    </div>
                </div>
                <div  class="w-[22%] h-full flex gap-2">
                    <div class="w-[40%] h-[70%]  flex" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').bool">
                        <div class="w-full h-full attachment-action-div cursor-pointer" @click="this.$store.state.selectedweaponattachmenttype = 'flashlight'"></div>
                    </div>
                    <div class="w-[40%] h-[70%]  flex" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').bool">
                        <div class="w-full h-full flex justify-center items-center haveattachment" @click="DetachAttachment(this.$store.state.clickedweapondata, 'flashlight')">
                            <img :src="'./itemimages/'+PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').image+'.png'" class="w-[80%] h-[80%]" >
                        </div>
                    </div>
                    <div class="w-[55%] h-[70%]  flex flex-col justify-center gap-[0.2vh]">
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh]" style="font-size: 0.6vw;">Flashlight</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').bool">{{PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').label}}</h2>
                        <h2 class="player-name ml-[0.2vw] mt-[0.5vh] attachmentindex truncate" style="font-size: 0.6vw;" v-if="!PlayerHaveAttachment(GetSelectedItemData(), 'flashlight').bool">-</h2>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-[9%]  flex">
        <div class="w-[40%] h-full  flex justify-end">
            <div class="w-[88%] h-full  flex items-center gap-[0.5vh]">     
                <div class="w-[17.5%] h-[60%] ejectbg cursor-pointer" @click="EjectWeaponMagazine(this.$store.state.clickedweapondata)"></div>
                <div class="w-[60%] h-[57.5%]  flex flex-col justify-center gap-[0.4vh]">
                    <p class="ejecttitle h-[30%]">{{this.$store.state.Translate.eject}}</p>
                    <p class="ejectindex h-[40%] truncate">{{this.$store.state.Translate.magazine}}</p>
                </div>
            </div>
        </div>
        <div class="w-[18%] h-full  flex">
            <div class="w-[70%] h-full flex items-center justify-center flex-wrap content-center ">
                <h2 class="player-name text-center w-full" style="font-size: 0.5vw; font-weight: 700;">{{this.$store.state.Translate.weight}}</h2>
                <h2 class="player-name text-center w-full mt-[0.3vw]" style="font-size: 0.5vw; font-weight: 700;" v-if="this.$store.state.clickedweapondata.info"><span style="color: rgba(255, 255, 255, 0.65);">{{GetSelectedItemData().itemdata.count * GetSelectedItemData().itemdata.weight}}g</span></h2>
            </div>
            <div class="w-[30%] h-full  flex items-center justify-center">
                <div class="w-full h-[65%] flex items-center justify-center  rounded-[0.3vw]" style="background-color: rgba(217, 217, 217, 0.25);">
                    <img class="h-full" src="./template/weight-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="w-[18%] h-full  flex">
            <div class="w-[70%] h-full flex items-center justify-center flex-wrap content-center ">
                <h2 class="player-name text-center w-full" style="font-size: 0.5vw; font-weight: 700;">{{this.$store.state.Translate.ammo}}</h2>
                <h2 class="player-name text-center w-full mt-[0.3vw]" style="font-size: 0.5vw; font-weight: 700;" v-if="this.$store.state.clickedweapondata.info">{{GetSelectedItemData().itemdata.info[0].ammo}}&nbsp;/  <span style="color: rgba(255, 255, 255, 0.65);">90</span></h2>
            </div>
            <div class="w-[30%] h-full  flex items-center justify-center">
                <div class="w-full h-[65%] flex items-center justify-center  rounded-[0.3vw]" style="background-color: rgba(217, 217, 217, 0.25);">
                    <img class="h-[90%]" src="./template/attachment-ammo.png" alt="">
                </div>
            </div>
        </div>
        <div class="w-[24%] h-full  flex">
            <div class="w-[70%] h-full flex items-center justify-center flex-wrap content-center ">
                <h2 class="player-name text-center w-full" style="font-size: 0.5vw; font-weight: 700;">{{this.$store.state.Translate.durability}}</h2>
                <h2 class="player-name text-center w-full mt-[0.3vw]" style="font-size: 0.5vw; font-weight: 700;"><span style="color: rgba(255, 255, 255, 0.65);" v-if="this.$store.state.clickedweapondata.info">{{GetSelectedItemData().itemdata.info[0].quality.toFixed(2)}}/100</span></h2>
            </div>
            <div class="w-[25%] h-full  flex items-center justify-center">
                <div class="w-full h-[65%] flex items-center justify-center  rounded-[0.3vw]" style="background-color: rgba(217, 217, 217, 0.25);">
                    <img class="h-full" src="./template/durability-icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
